<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://media.istockphoto.com/id/1413587187/photo/fresh-multicolored-fruits-and-vegetables-on-white-background.jpg?b=1&s=170667a&w=0&k=20&c=0uYcUCnXypQCDPWMc0901Jktjhdva94OLUMf9eH_DlQ=');
    height: 340px;
  ">
    <div class="d-flex justify-content-center align-items-center h-20">
      <div class="text-white">
        <h1 class="mb-3"></h1>
        <h4 class="mb-3"></h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button"></a>
      </div>
    </div>
  </div>
<!-- Jumbotron -->