<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('https://cdn.dribbble.com/users/1094957/screenshots/15780777/media/deced0247857d3b216f340d79af0433f.png?compress=1&resize=400x300&vertical=top');
    height: 340px;
  ">
    <div class="d-flex justify-content-center align-items-center h-20">
      <div class="text-white">
        <h1 class="mb-3"></h1>
        <h4 class="mb-3"></h4>
        <a class="btn btn-outline-light btn-lg" href="#!" role="button"></a>
      </div>
    </div>
  </div>
<!-- Jumbotron -->